.one {
  font-family: Roboto;
  font-weight: bold;
  color:currentColor;
  background-color: cyan;
}

.sidebar {
  font-family: sans-serif;
  width: 300px;
  float: left;
  background-color: violet;

}

.list {
font-family: transparent;
font-style: bold;
color: currentColor;
background-color: crimson;
}

.two {
  font-family: cursive;
  font-style: bold;
  color: currentColor;
  background-color: yellow;
}

.goal {
 color: green;
 background-color: #FF00FF;
}

#one {
  width: 300px;
  float: center;
}

#two {
  width: 300px;
  float: center;
}

body {
  background-image: url(http://png.clipart.me/graphics/previews/162/vector-seamless-pattern-with-stylized-golden-butterflies-on-brown-background-can-be-used-for-textile-website-background-book_162430352.jpg);
}
